.card{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 90%;
	aspect-ratio: 1/1;
	justify-self: start;
	will-change: transform;

	.image_container{
		inset: 0;
		position: absolute;
		z-index: 1;
		.image{
			display: block;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			object-position: center center;
			object-fit: cover;
			image-rendering: auto;
		}
	}

	.overlay{
		align-content: flex-start;
		align-items: flex-start;
		display: flex;
		flex: 1 0 0px;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 1px;
		justify-content: space-between;
		padding: 28px;
		position: relative;
		width: 100%;
		z-index: 1;
		.title_container{
			align-content: center;
			align-items: center;
			display: flex;
			flex: none;
			flex-direction: row;
			flex-wrap: nowrap;
			height: min-content;
			justify-content: space-between;
			overflow: visible;
			padding: 0;
			position: relative;
			width: 100%;
			.title{
				align-content: center;
				align-items: center;
				display: flex;
				flex: none;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 0px;
				height: 40px;
				justify-content: center;
				overflow: hidden;
				padding: 8px 16px;
				position: relative;
				width: min-content;
				will-change: transform;
			}
		}
		.description_container{
			align-content: center;
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 0px;
			height: min-content;
			justify-content: center;
			overflow: visible;
			padding: 0;
			position: relative;
			.description{

			}
		}
	}
}