
.about_page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	.description {
		text-align: center;
		margin-top: 6rem;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 0;
		--custom-color: color-mix(in srgb, var(--color-accent) 80%, transparent);
		color: var(--custom-color);
		text-shadow: 0 0 7px var(--custom-color);
	}
	.name {
		margin: 0 0 5rem;
		text-align: center;
		font-weight: bold;

		font-size: 250%;
		color: #ffffff;
		text-shadow:
				0 0 7px #fff,
				0 0 10px var(--color-tertiary),
				0 0 21px var(--color-tertiary),
				0 0 42px var(--color-tertiary),
				0 0 82px var(--color-tertiary);
	}
	.card_container{
		width: 100%;
		display: grid;
		flex: none;
		justify-content: center;
		justify-items: center;
		grid-auto-rows: min-content;
		gap: 12px;
		padding: 12px;
		position: relative;
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
}