.experiences_container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: var(--color-tertiary) solid 1px;
	.title{
		text-align: center;
		margin-top: 10rem;
		color: #ffffff;
		text-shadow: 0 0 2px #fff,
		0 0 10px var(--color-accent-secondary),
		0 0 21px var(--color-accent-secondary),
		0 0 42px var(--color-accent-secondary);
		font-size: 400%;
		border: var(--color-accent) solid 1px;
	}
	.experience_list{
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		margin-top: 2rem;
		padding: 0;
		border: var(--color-accent-secondary) solid 1px;
	}
}