.home_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    .profile_picture{
        width: 300px;
        height: 300px;
        object-fit: cover;
        transition: 0.5s;
        margin-right: 1rem;
        border-radius: 25%;
        box-shadow: 0 0 30px 0 var(--color-secondary);
    }
    .profile_picture:hover {
        cursor: pointer;
    }
    .profile_picture:active {
        box-shadow: 0 0 60px 0 var(--color-secondary);

    }
    .home_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            margin-bottom: 1rem;
            color: var(--color-accent);
            font-size: 55px;
            cursor: default;
        }

        .link_icon_container {
            display: flex;
            justify-content: space-around;
            width: 90%;
            .icon {
                color: var(--color-secondary);
                width: 10%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home_page{
        flex-direction: column;
        .profile_picture{
            margin: 0;
            width: 200px;
            height: 200px;
        }
        .home_container{
            .title{
                font-size: 35px;
                margin: 10px 0 0;
            }
            .link_icon_container{
                width: 80%;
                .icon {
                    width: 15%;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 800px)  {
    .home_page{
        .profile_picture{
            width: 250px;
            height: 250px;
        }
        .home_container{
            .title{
                font-size: 40px;
            }
            .link_icon_container{
                width: 80%;
                .icon {
                    width: 15%;
                }
            }
        }
    }
}