.home_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    .title {
        margin-bottom: 4rem;
        color: var(--color-accent);
        font-size: 55px;
        cursor: default;
    }
}